# Environment
ENV=
APP_PORT= # port to listen to (optional)
REPLICATION_ROLE=
MASTER_OR_REPLICA_LOCAL_IP=

# App
CLOUD_DIR=
PASSWORD_VAULT_SALT=

# Cookies and auth
SERVICE_SECRET=
BACKEND_HOST_NAME=localhost
FRONTEND_URL=
BACKEND_HOST=http://${BACKEND_HOST_NAME}/apinest

# Auth microservice (TCP)
AUTH_TCP_PORT=11002

# Metrics microservice (TCP)
METRICS_TCP_HOST=127.0.0.1
METRICS_TCP_PORT=14002


# Github webhooks
GITHUB_WEBHOOK_SECRET=
EMAIL_USER=
FRONTEND_DEPLOY_PATH=

# Database env
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# DB Cache]
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Google Drive Backup
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
