// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// The rest
@import "sidebar";
@import "auth";
@import "switchCheckbox";

.folder, .file {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;

    img {
        width: 100px;
        height: 100px;
    }

    span {
        text-align: center;
    }
}

.file_thumnail {
    width: 75px !important;
    height: 75px !important;
}

.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#file_content {
    padding: 20px;
    border: solid gray 1px;
    width: 50%;
    min-width: 500px;
    min-height: 1000px;
    height: 80%;
    font-size: $file_content_font_size;
    margin: auto;
    font-family: $file_content_font_family;
}

#file_preview_dashboard {
    width: 50%;
    min-width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

#debugDiv {
    padding: 10px;
    border: solid lightgrey 1px;
    font-family: $file_content_font_family;
    width: 50%;
    min-width: 500px;
    margin: auto;
    height: 300px;
    overflow: auto;
}

.run_btn {
    border: solid lightgray 1px;

    i {
        color: green;
        margin-right: 10px;
    }
}

.switch, #status {
    margin-left: 70%;
}

div.url {
    padding: 5px;
    border: solid gray 1px;
    background: lightgray;
    border-radius: 5px;
    overflow-x: auto;
    width: 75%;
}

#main_content table td, th {
    padding: 10px;
    text-align: center;
}

#folder_context_menu {
    display: none;
    position: absolute;
    background-color: white !important;
    font-size: 14px;
    z-index: 5;
    border-radius: 5px;
    border: solid gray 1px;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s all;

        &:hover {
            background-color: $sidebar_bg;
            color: white;
        }
    }
}

.alertContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    min-height: 100px;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 6;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid gray 1px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);

    div.title_bar {
        background-color: $sidebar_bg;
        color: white;
        padding: 10px;
        font-weight: bold;

        button.close_btn {
            background-color: red;
            color: white;
            position: relative;
            left: 85%;
            border-radius: 50%;
            padding: 5px;
            border: 0;
            font-weight: bold;
            width: 30px;
        }
    }

    div.body_container {
        padding: 15px;
    }

    div.action_container {
        float: right;
        padding: 10px;

        button {
            background-color: $sidebar_bg;
            color: white;
            border-radius: 5px;
            padding: 5px;
            min-width: 50px;
        }
    }
}
