/**
*
*
 */
@import "variables";

.login_body {
    background-image: url("public/images/background.jpg");
    background-size: cover;
}

.transparent_card {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.transparent_card {
    input {
        background: transparent;
        color: white;
        transition: 0.5s all;

        &:focus, &:hover {
            background: #fff;
            color: black;
        }
    }
}


.white_link {
    color: white !important;
}


