/**
*
*
 */

.preview_content {
    align-items: center;
    justify-content: center;
    width: 70%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);
    background-color: transparent;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 700px;
}

video.preview_content {
    max-height: 800px;
}


