/**
*
 */

.alertContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    min-height: 100px;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 6;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid gray 1px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);

    div.title_bar {
        background-color: $sidebar_bg;
        color: white;
        padding: 10px;
        font-weight: bold;

        button.close_btn {
            background-color: red;
            color: white;
            float: right;
            border-radius: 50%;
            padding: 5px;
            border: 0;
            font-weight: bold;
            width: 30px;
        }
    }

    div.body_container {
        padding: 15px;
    }

    div.action_container {
        float: right;
        padding: 10px;

        button {
            background-color: $sidebar_bg;
            color: white;
            border-radius: 5px;
            padding: 5px;
            min-width: 50px;
        }
    }
}
